<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
		<div class="navbar navbar-dark bg-custom">
			<div class="container">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<strong>AjoloTech</strong>
				</a>
			</div>
		</div>
    </header>

    <main>
        <div class="container pt-3">
            <div class="row">
                <div class="col-12 text-center p-3">
                    <p class="h2">Mensajes de Lead</p>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-12">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Sugerencias</th>
                                <th scope="col">Tiempo</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>