/* --- --- BARRA LATERAL --- --- */
.main-container {
	display: flex;
	flex-direction: row;
}

.container-child {
	padding-top: 15px;
	padding-bottom: 50px;
	width: 80% !important;
}

.barra-lateral {
	background: #FFFFFF;
	color: var(--titulos);
	width: 20% !important;
	min-height: 100vh;
    border-right: solid 1px var(--verde_oscuro);
    position: relative;
}

.barra-lateral a {
	color: var(--titulos);
}

/* --- LOGO --- */
.barra-lateral .logo {
	background: var(--verde_oscuro);
}

.barra-lateral .logo h2 {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 300;
}

/* --- MENU --- */
.barra-lateral .menu a {
	display: block;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	border-bottom: 1px solid rgba(255,255,255, .1);
    text-decoration: none;
    color: var(--verde_oscuro);
}

.barra-lateral .menu a:hover {
	background: var(--titulos);
}

.barra-lateral .menu a svg {
	margin-right: 10px;
}

.barra-lateral .menu .boton-salir {
	position: absolute;
    bottom: 0;
    width: 100%;
}