:root {
    --verde_claro: #42CD67;
    --verde_oscuro: #103928;
    --titulos: #42CC67;
}

/* --- --- MAIN --- --- */
.main {
	padding-top: 40px;
}

.main .columna {
	padding:0 40px;
}

.main .titulo {
	color: #262a34;
	font-size: 25px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
}

.main .widget {
	margin-bottom: 40px;
}